
@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>

<span class="{{active}}" ng-click="$event.preventDefault()">

  <a href="#" class="home" ng-click="active='home'" >Home</a>
  <a href="#" class="search" ng-click="active='search'">Search</a>

</span> 
<div ng-switch on="active">
  <p ng-hide="active">Please click a menu item</p>
  <p  ng-switch-when="home">Here are some angularjs examples</p>
  <p  ng-switch-when="search"><phone-list></phone-list></p>
</div>

